# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
venv/
env/
.venv/

# DB file
campus_companion.db

# Logs and caches
*.log
*.sqlite3
.pytest_cache/
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/